.hp_body_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-image: url('../images/homepage_background.jpg');
  background-repeat: no-repeat;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  height: 1000px;
}

/* html {
  background-image: url('../images/homepage_background.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.hp_h1_wrapper {
  margin-right: 50px;
  margin-top: 160px;
  color: beige;
  text-shadow: -3px 2px 1px black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.hp_h2_wrapper {
  margin-right: 80px;
  margin-top: 40px;
  font-size: 16px;
  font-weight:lighter;
  color: beige;
  text-shadow: -1px 1px 5px black;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.hp_h1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 45px;
  font-weight: bold;
}

.hp_h2 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hp_join {
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  background-color: black;
  color: beige;
  font-size: 25px;
  padding: 15px 45px 15px 45px;
  margin-right: 220px;
  margin-top: 40px;
  font-weight: 700;
}

.hp_join:hover {
  color: rgb(250, 168, 182);
  font-size: 38px;
  margin-right: 200px;
  margin-top: 35px;
}

.nb_left_text {
  color: rgb(250, 168, 182);
  text-shadow: -1px 1px 2px black;
  font-size: 34px;
  font-weight: 900;
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.nb_all {
  padding: 30px 60px 30px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nb_right_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.nb_right_text {
  margin-right: 10px;
}

.nb_right_signin {
  text-decoration: none;
  border: 2px solid black;
  padding: 3px 15px 3px 15px;
  border-radius: 5px;
  color: black;
}

.nb_right_signin:hover {
  color: rgb(250, 168, 182)
}

.nb_all_login {
  padding: 30px 60px 30px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: beige
}

.nb_right_home {
  text-decoration: none;
  border-bottom: 3px solid transparent;
  margin: 3px 25px 3px 25px;
  color: black;
  font-weight: bold;
}

.nb_right_home:hover {
  color: rgb(250, 168, 182);
  border-bottom: 3px solid rgb(250, 168, 182);
}

.hp_body_wrapper_login {
  background-color: beige;
}

/* .nav_github {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: 150px;
  margin-right: 150px;
  height: 80px;
} */
